@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Navbar css start */
.linkHover:hover{
    color: gray;
    transition: all .2s ease-in;
    border-bottom: 2px solid red;
}
body,html{
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}
.navbar{
    width: 300px;
    transition: all .3s ease;
    position: fixed;
    top: 7%;
    right: 0;
    z-index: 999;
    transform: translateX(100%);

}
.showNav{
    transform: translateX(0);
}

/* navbar css ends */

/* Home css Start */
.mainGradient{
    background-image: linear-gradient(to right bottom , #E11D48, #7C3AED);
}
.mainHeading {
    background-image: linear-gradient(to right bottom , #E11D48, #7C3AED);
    -webkit-background-clip: text; /* For Safari/Chrome */
    background-clip: text;
    color: transparent; /* Hide the original text color */
  }
  .panals .panal1{
    width: 500px;
    height: 200px;
    background: rgba(255, 0, 0, 0.042);
    position: absolute;
    border-radius: 20%;
    top: 0;
    left: 0;
    z-index: 50;
    rotate: 50deg;
  }
  .panals .panal2{
    width: 500px;
    height: 500px;
    background: rgba(255, 0, 0, 0.042);
    position: absolute;
    border-radius: 50%;
    top: -100px;
    right: -200px;
    /* z-index: 50; */
    rotate: 50deg;
  }
/* Home css Ends */


