@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.color2{
  color: #8936D6;
}
.color3{
  color: #7c3aede6;
}
.bgatach{
  background-attachment: fixed;
  width: 100%;
  background-image:linear-gradient(to right bottom , #e11d48e6, #7c3aede6), url("../public/images/visioncraft10.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Navbar css start */
.linkHover:hover{
    color: gray;
    transition: all .2s ease-in;
    border-bottom: 2px solid red;
}
body,html{
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}
.navbar{
    width: 300px;
    transition: all .3s ease;
    position: fixed;
    top: 8.5%;
    right: 0;
    z-index: 999;
    transform: translateX(100%);

}
.showNav{
    transform: translateX(0);
}
.fixedNav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  animation-name: fadeInDown;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: .5s ease-in-out;
  z-index: 999;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 0 6px rgba(0,0,0,0.2);
}

/* navbar css ends */

/* Home css Start */
.mainGradient{
    background-image: linear-gradient(to right bottom , #E11D48, #7C3AED);
}
.mainHeading {
    background-image: linear-gradient(to right bottom , #E11D48, #7C3AED);
    -webkit-background-clip: text; /* For Safari/Chrome */
    background-clip: text;
    color: transparent; /* Hide the original text color */
  }
  .hovercl:hover{
    color: #E11D48; /* Hide the original text color */
    opacity: 1;
  }
  .panals .panal1{
    width: 500px;
    height: 200px;
    background: rgba(255, 0, 0, 0.042);
    position: absolute;
    border-radius: 20%;
    top: 0;
    left: 0;
    z-index: -1;
    rotate: 50deg;
  }
  .panals .panal2{
    width: 500px;
    height: 500px;
    background: rgba(255, 0, 0, 0.042);
    position: absolute;
    border-radius: 50%;
    top: -100px;
    right: -200px;
    z-index: -1;
    rotate: 50deg;
  }
/* Home css Ends */



/* Service css Start */
.gradientTwo{
  background-color: white;
  background-image: linear-gradient(to top, white 0%, white 30%, rgb(250, 248, 248) 70%);
}

.btn-ripple {
  @apply relative overflow-hidden;

  /* Base button styles */
  @apply  text-rose-600 py-2 px-6 rounded-md transition-all;

  /* Ripple effect styles */}

.btn-ripple::before {
  content: '';
  position: absolute;
  border-radius: 50%;
  background: rgb(255, 167, 167);
  transform: scale(0);
  transition: transform 0.3s, opacity 0.3s;
}

.btn-ripple:hover::before {
  width: 100%;
  padding-top: 100%;
  transform: scale(2);
  opacity: 0;
}
/* Service css Ends */





/* About css Start */
.about{
  background-image: url("../public/images/visioncraft12.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

}
  /* .aboutShape::before{
    position: absolute;
    content: ",,";
    top: 0;
    left: 0;
    
    opacity: .5;
    border-radius: 50%;
    z-index: -1;
  } */
/* About css Ends */


/* Why us start */
.whyBox{
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 6px;
  transition: all .3s ease-in-out;
  padding: .5rem;
  position: relative;
  /* z-index: 999; */
  border: 1px solid #ffc2c6;
  height: 24rem;
}
.whyBox::before{
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  background-color: rgb(250, 246, 246);
  z-index: -1;
  transition: all .3s ease-in-out;
  border-radius: 6px;
}
.whyBox:hover{
  background-color: white;
  color: #1b1b1b;
  filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.2));
  cursor: pointer;
}
.whyBox:hover::before{
  height: 100%;
}
.whyBox .whyHeading{
  font-weight: 600;
  font-size: 1.3rem;
  color: #1b1b1b;
  margin: .5rem 0;
}
.whyBox .whyDesc{
  /* font-size: .9rem; */
  font-weight: 400;
  color: rgb(28, 28, 28);
  text-align: center;
}
/* Why us sends */


/* Rescue Start */
.rescueHover{
  transition: all .3s ease-in-out;
  position: relative;
  transform-origin: left;
  background-color: #F43F5E;
  color: white;
  padding: 10px 30px;
  font-size: 1.1rem;
  border-radius: .4rem;
  z-index: 999;
}
.rescueHover::before{
  position: absolute;
  content: "Hire a Pro";
  width: 0;
  height: 100%;
  transition: all .3s ease-in-out;
  transform-origin: left;
  left: 0;
  top: 0;
  background-color: #F43F5E;
  border-radius: .375rem 0 0 .375rem;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  /* padding-left: 15px; */
}
.rescueHover:hover::before{
  width: 100%;
  background-color: white;
  color: #F43F5E;
  opacity: 1;
}
/* Rescue Ends */



/* testimonial start */
.swiper-button-next{
  position: absolute!important;
  right: 0!important;
  top: 250px!important;
  width: 50px!important;
  height: 50px!important;
  font-size: 10px!important;
  background-color: #E11D48!important;
  border-radius: 50%;
  opacity: 1!important;
}
.swiper-button-next::after{
  font-size: 20px!important;
  color: white!important;
  font-weight: bold!important;
}
.swiper-button-prev{
  position: absolute!important;
  left: 0!important;
  top: 250px!important;
  width: 50px!important;
  height: 50px!important;
  font-size: 10px!important;
  background-color: #E11D48!important;
  border-radius: 50%;
  opacity: 1!important;
}
.swiper-button-prev::after{
  font-size: 20px!important;
  color: white!important;
  font-weight: bold!important;
}

.swiper-pagination-bullet{
  background-color: #E11D48!important;
  width: 30px!important;
  height: 10px!important;
  border-radius: 5px!important;}

.swiper-pagination-bullet-active{
  width: 35px!important;
}
.notch{
  position: relative;
}
.notch::before{
  position: absolute;
  content: "";
  bottom:-10px;
  left: 48%;
  width: 20px;
  height: 20px;
  background-color: #FECDD3;
  z-index: 999;
  rotate: 45deg;
}
.test{
  position: relative;
}
.test::before{
  position: absolute;
  content: ",,";
  top: -25%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  right: 0;
  font-size: 5rem;
  width: 100px;
  height: 100px;
  z-index:1;
  color: #E11D48;
}
.contactHover{
  width: 270px;
}
.contactHover:hover{
  border: 2px solid red;
  background-color: #F43F5E;
}

/* animations */

.slideLeft1{
  -webkit-animation: .3s ease-in-out 0s normal zoomInUp;
  animation: .3s ease-in-out 0s normal zoomInUp;
  -webkit-transition: 0.4s;
  transition: .4s;
}
.slideRight2{
  -webkit-animation: .3s ease-in-out .3s normal slideInLeft;
  animation: .3s ease-in-out .3s normal slideInLeft;
  -webkit-transition: 0.4s;
  transition: .4s;
}
.zoomdown{
  -webkit-animation: .3s ease-in-out .5s normal slideInDown;
  animation: .3s ease-in-out .5s normal slideInDown;
  -webkit-transition: 0.4s;
  transition: .4s;
}
.slideup{
  -webkit-animation: .3s ease-in-out 0s normal slideInUp;
  animation: .3s ease-in-out 0s normal slideInUp;
  -webkit-transition: 0.4s;
  transition: .4s;
}
/* animations */