@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Navbar css start */
.linkHover:hover{
    color: gray;
    transition: all .2s ease-in;
    border-bottom: 2px solid red;
}
body,html{
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}
.navbar{
    width: 300px;
    transition: all .3s ease;
    position: fixed;
    top: 8.5%;
    right: 0;
    z-index: 999;
    transform: translateX(100%);

}
.showNav{
    transform: translateX(0);
}
.fixedNav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  animation-name: fadeInDown;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: .5s ease-in-out;
  z-index: 999;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 0 6px rgba(0,0,0,0.2);
}

/* navbar css ends */

/* Home css Start */
.mainGradient{
    background-image: linear-gradient(to right bottom , #E11D48, #7C3AED);
}
.mainHeading {
    background-image: linear-gradient(to right bottom , #E11D48, #7C3AED);
    -webkit-background-clip: text; /* For Safari/Chrome */
    background-clip: text;
    color: transparent; /* Hide the original text color */
  }
  .hovercl:hover{
    color: #E11D48; /* Hide the original text color */
    opacity: 1;
  }
  .panals .panal1{
    width: 500px;
    height: 200px;
    background: rgba(255, 0, 0, 0.042);
    position: absolute;
    border-radius: 20%;
    top: 0;
    left: 0;
    z-index: 50;
    rotate: 50deg;
  }
  .panals .panal2{
    width: 500px;
    height: 500px;
    background: rgba(255, 0, 0, 0.042);
    position: absolute;
    border-radius: 50%;
    top: -100px;
    right: -200px;
    /* z-index: 50; */
    rotate: 50deg;
  }
/* Home css Ends */



/* Service css Start */
.gradientTwo{
  background-color: white;
  background-image: linear-gradient(to top, white 0%, white 30%, rgb(250, 248, 248) 70%);
}

/* Service css Ends */


